// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

@font-face {
  font-family: 'Aracne Soft Cond Reg';
  src: url('AracneSoftCondReg.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ARACNE_regular';
  src: url('ARACNE_regular.ttf');
}
@font-face {
  font-family: 'ModernBrush-Regular';
  src: url('ModernBrush-Regular.ttf');
}



