<div class="banner" style="background-image: url('<%= image_path 'carousel-1.jpg' %>')">
  <div class="banner-content">
    <h1>Biobelle</h1>
    <p>Pour un Bien-Être Conscient</p>
    <a class="btn btn-primary btn-lg" href="#products-index">Découvrez</a>
  </div>
</div>
