<div id="footer" class="container text-center">
  <ul class="list-inline">
    <li>
      <a href="https://www.facebook.com/biobelle.ca/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/biobelle.ca/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href=""><i class="fas fa-paw"></i></a>
    </li>
    <li>
      <a href=""><i class="fas fa-leaf"></i></a>
    </li>
  </ul>
</div>
