<div id="footer" class="container text-center">
  <ul class="list-inline">
    <li>
      <a href="https://www.facebook.com/biobelle.ca/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/biobelle.ca/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="http://blondstory.com/pour-introduire-le-zero-dechet-a-la-vie-quotidienne/" target="_blank"><i class="fab fa-creative-commons-zero"></i></a>
    </li>
    <li>
      <a href="https://fr.davidsuzuki.org/publication-scientifique/importe-plus-cest-contenu/" target="_blank"><i class="fas fa-leaf"></i></a>
    </li>
  </ul>
</div>
