<div id="footer" class="container text-center">
  <ul class="list-inline">
    <li>
      <a href="https://www.facebook.com/biobelle.ca/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/biobelle.ca/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="https://www.globalanimal.org/2010/12/06/companies-that-dont-test-on-animals-resource/26156/?gclid=CjwKCAiArK_fBRABEiwA0gOOc0H_StS12NxdPyHqPyeUxbxxbLAsOnhn0SAZ2SirH0v2RxmkY2egGBoCUaQQAvD_BwE" target="_blank"><i class="fas fa-paw"></i></a>
    </li>
    <li>
      <a href="https://fr.davidsuzuki.org" target="_blank"><i class="fas fa-leaf"></i></a>
    </li>
  </ul>
</div>
