<div class="col-md-3 product-card">
  <div class="product">
    <h3> <%= link_to product.name, product_path(product.id), class:"product-name" %> </h3>
    <div class="product-short-desc">
      <p> <%= product.short_desc %> </p>
    </div>
    <p class="product-price"> $<%= product.price %> </p>
    <%= cl_image_tag(product.photo, width: 200, height: 175, crop: :fill, class: 'product-photo')%>
  </div> 
</div>
