<div id="about" class="container text-center container-size">
  <h1>Qui est Biobelle ?</h1>
  <div class="grid">
    <section class="about">
      <!-- <h2>À propos de nous</h2> -->
      <h3>Notre compagnie</h3>
      <p>
        Inspirée par tout ce que la Nature nous offre pour se guérir et prendre soin de soi, Biobelle en a fait sa mission de vous procurer des produits cosmétiques et de soins de la peau de haute qualité, authentiques, entièrement naturels et faits à la main.
      </p>
      <p>
        Pour un Bien-Être Conscient, c'est être conscient de nos choix, des conséquences de nos actions et de nos pensées. C'est aussi poser les gestes de façon consciente : Biobelle dans la confection de nos produits et vous, chers clients, dans leur utilisation.
      </p>
      
      <li>Des produits de qualité supérieure</li>
      <li>Un réel souci du bien-être de nos clients</li>
      <li>Des prix toujours abordables</li>
      
    </section>

    <section class="team">
      <h3>Notre équipe - Annie et Stéphane</h3>
      <p>
        Annie, certifiée en enseignement du yoga chez Satyam et rayon de soleil incarné, a suivi une formation complète en fabrication de produits cosmétiques et thérapeutiques avec Stéphanie Plamondon de Noblessence en 2013.
      </p>
      <p>
        De plus en plus consciente des effets néfastes sur la santé de tous ces ingrédients qui se retrouvent littéralement par milliers dans les produits cosmétiques industriels (pensons au propylène glycol, aux phtalates, parabènes, SLS, PEGs, triclosan, etc...), Annie a décidé de créer ses propres produits 100% naturels et exempts d’ingrédients nocifs.
      </p>
      <p>
        Chaque ingrédient entrant dans leur composition est choisi méticuleusement pour ses propriétés thérapeutiques, ainsi que pour son odeur. Ainsi, en plus d'être excellent pour la peau, il ressort de chaque produit une une signature olfactive unique, qui contribue également au bien-être.
      </p>
      <p>
        Stéphane, développeur web, passionné de musique et de Médecine Chinoise, apporte la structure et l'ancrage nécessaires à la créativité et aux inspirations d'Annie. Il s'occupe du web et de la rédaction des textes.
      </p>
      <p>
        Ensemble, ils se complètent, s'inspirent et se supportent dans la création, le développement et la distribution de produits sains, naturels et authentiques.
      </p>
      
    </section>
    
    <section class="stories">
      <h3>Témoignages</h3>
      <ul>
        <li>
          “(À propos du Déo) Meilleure recette conçue ever. Je suis franchement très impressionnée par le produit ; ça fonctionne vraiment très, très bien et il sent magnifiquement bon ! ”<br>
          Micheline S., Montréal
        </li>
        <li>
            "Coup de coeur pour le Sérum Visage ! À utiliser quotidiennement pour redonner souplesse et éclat ; l'effet est instantané ! Un must pour tous les types de peau. L'essayer, c'est l'adopter.”<br>
          Caroline T., Greenfield Park
        </li>
        <li>
            "Tes produits sont trop, trop top ; je suis fan !”<br>
          Maely E., Estavayer, Suisse
        </li>
      </ul>
    </section>
  </div>

</div>
