<div id="distributeurs-index" class="container text-center">
  <h1>Nos Distributeurs</h1>
  <div class="distributeurs">
    <div class="row">
      <% @distributeurs.order(name: :asc).each do |distributeur| %>
        <%= render partial: 'shared/distributeur_card', locals: {distributeur: distributeur} %>
      <% end %>    
    </div>
  </div>
</div>
