.banner {
  color: white;
  text-align: center;
  height: 70vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.1);
}
.banner-xs {
  height: 60vh;
  background-position: right;
  justify-content: center;
}
.banner-content {
  padding-left: 75px;
  a {
    font-family: Lato;
    font-weight: 100;
    &:hover {
      color: $bb-yellow;
    }
  }
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.95;
  margin-bottom: 30px;
  // font-family: Lato;
}
.banner-content-xs {
  padding: 2px;
  p {
    opacity: 1;
    font-size: 27px;
    padding: 0 5px;
  }
}
.btn-custom-round {
  border-radius: 23px;
  font-family: Lato;
  font-weight: 100;
  a {
    color: white;
  }
  a:hover {
    color: $bb-yellow;
  }
  p:hover {
    color: $bb-yellow;
  }
}
