.products {
  border: 1px solid green;
  width: 100%;
}
.product-card {
  border: 1px solid blue;
  background: white;
  padding: 5px 15px;
  height: 60vh;
  // margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
}
.product-body {
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
.product-name {
  font-size: 22px;
}
.product-short-desc {
  height: 100px;
  overflow: hidden;
}
.product-price {
}
.product-photo {
  border: 1px solid green;
  // flex: 1 1 30px;
  width: 150px;
  height: auto;  
}
.product-footer {
  border: 1px dotted red;
  height: 10%;
  padding-top: 10px;
}



.product-add {
  border: 1px solid orange;
  // height: 40vh;
  // margin: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
