#products-index h1 {
  font-size: 40px;
}
.products {
  // border: 1px solid green;
  width: 100%;
}
.product-card {
  // border: 1px solid blue;
  box-shadow: $box-shadow;
  border-radius: 3px;
  background: white;
  padding: 5px 15px;
  height: 60vh;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
}
.product-body {
  // border: 1px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
.product-name {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.75);
}
.product-short-desc {
  height: 100px;
  overflow: hidden;
}
.product-price {
  // font-family: ARACNE_regular;
  font-weight: bold;
  // color: rgba(0, 0, 0, 0.75);
}
.product-photo {
  // border: 1px solid green;
  // flex: 1 1 30px;
  width: 150px;
  height: 150px;  
}
.product-footer {
  // border: 1px dotted red;
  height: 10%;
  padding-top: 10px;
}



.product-add {
  border: 1px solid orange;
  // height: 40vh;
  // margin: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
