// Reset scss
@import "reset";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// @import "materialize/components/color-variables";
// @import "materialize";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


.container-size {
  // border: 1px solid red;
  width: 85vw;
  margin-top: 70px;
}
body h2 p{
  color: rgba(0, 0, 0, 0.75);
}
